/* Font styling */
h1, h2 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Assistant', sans-serif;
  font-weight: 300;
}

.links, button {
    font-family: 'Assistant', sans-serif;
  font-weight: 400;
}

button {
  font-size: small;
}


/* Button styling */
button {
  outline: none;
  border: solid 2px paleturquoise;
  background-color: white;
  padding: 5px 15px;
  border-radius: 15px;
}

button:link,
button:visited {
  color: white;
  background-color: paleturquoise;
}

button:focus {
  color: white;
  color: paleturquoise;
}

button:hover, 
button:active {
  color: white;
  background-color: paleturquoise;
}


/* Navigation */
nav {
  background: none;
  display: flex;
  align-items: center;
}

.links {
  margin-right: 20px;
  margin-left: 20px;
}

nav h1 {
  flex-grow: 2;
}

nav a:link,
nav a:visited {
  color: black;
  text-decoration: none;
  padding: .5em;
  margin: .5em;
}

nav a:focus {
  color: turquoise;
}

nav a:hover, 
nav a:active {
  color: turquoise;
}


/* Media queries */
@media screen and (max-width: 700px) {
  #education {
    flex-direction: column;
    align-items: center;
  }
  
 #education .UXUI, #education .VCD, #education .BA {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  #education .UXUI .UXUIicon, #education .VCD .VCDicon, #education .BA .BAicon {
    width: 200px;
  }
}

@media screen and (max-width: 800px) {
  #aboutme {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  #aboutme .welcome, .selfportrait {
    width: 75%;
  }

  #education .UXUI, #education .VCD, #education .BA {
    width: 99%;
  }
}

@media screen and (max-width: 550px) {
  nav, #aboutme {
  flex-direction: column;
  }

  #aboutme {
    width: 75%;
  }

  .selfportrait {
    width: 100%;
  }
}


/* I'm a ___ designer */
body {
  /* the following line fixes a blink in chrome https://code.google.com/p/chromium/issues/detail?id=108025 */
  -webkit-backface-visibility: hidden;
}


/* About me */
#aboutme {
  position: relative;
  padding: 20px 40px 40px 40px;
  display: flex;
  justify-content: center;
}

.welcome {
  margin-bottom: 30px;
  width: 50%;
}

.name {
  margin-bottom: 50px;
}

.ima {
  position: absolute;
  margin-top: -40px;
}

.aboutme {
  margin-bottom: 5px;
  column-count: 2;
  column-width: 200px;
}

br {
  margin-top: 5px;
  margin-bottom: 0px;
}

.knowme {
  position: relative;
  left: 85%;
  margin-top: -50px;
}

.selfportrait {
  width: 400px; 
  margin-left: 40px;
  margin-top: -20px;
}

circle {
  fill: paleturquoise;
}


/* Education */
#education {
  position: relative; 
  padding: 20px 40px 20px 40px;
  display: flex;
  justify-content: center;
}

.UXUI, .VCD, .BA {
  border: solid 2px paleturquoise;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
  width: 30%;
  text-align: center;
  justify-content: center;
}

.UXUIicon {
  width: 250px;
}

.bgcircle, .RTcircle {
  fill: lightcyan;
}

.VCDicon {
  width: 250px;
}

.screencircle, .VCDcircle {
  fill: paleturquoise;
}

.UXUI h2, .VCD h2, .BA h2 {
  margin-top: -20px;
}

.BAicon {
  width: 250px;
}

